=render "home/header_login"
.mypage
  .mypage_top
    .mypage_top_container
      .mypage_top_container_avator
        .mypage_top_container_avator_main
          -if @user.avatar.attached?
            =image_tag @user.avatar, class:"avatar"
          -else
            =image_tag ("noimage.png"),class:"avatar"
      .mypage_top_container_info
        .mypage_top_container_info_name
          .mypage_top_container_info_name_detail
            %h1.plofile_name
              =@user.nickname
            -if current_user.id == @user.id
              .plofile_name_edit
                =link_to "プロフィール編集", profile_user_path ,class:"profile-edit"
            - else
              - if current_user.following?(@user)
                = form_with model: @relationship,url: relationship_path, method: :delete  do |f|
                  = button_tag type: 'submit', class: 'btn-liked',id: "unfollow_form" do
                    %i.fas.fa-heart.fa-3x
              - else
                = form_with model: @relationship do |f|
                  %div= hidden_field_tag :following_id, @user.id
                  = button_tag type: 'submit', class: 'btn-likes',id: "follow_form" do
                    %i.far.fa-heart.fa-3x
        .mypage_top_container_info_profile
          = simple_format(@user.introduction)
  .mypage_main
    -if current_user.id == @user.id
      .mypage_main_menus
        =link_to trainings_path(@user.id),class:"mypage_main_menus_trainings","data-turbolinks": false do
          .mypage_main_menus_trainings_details
            %h1.menus_title
              Trainings
        =link_to friends_user_path,class:"mypage_main_menus_friends","data-turbolinks": false do
          .mypage_main_menus_friends_details
            %h1.menus_title
              Friends
        =link_to messages_path,class:"mypage_main_menus_messages","data-turbolinks": false do
          .mypage_main_menus_messages_details
            %h1.menus_title
              Messages
        =link_to mygyms_path,class:"mypage_main_menus_mygym","data-turbolinks": false do
          .mypage_main_menus_mygym_details
            %h1.menus_title
              MyGYM
    -else
      -# .otherspage_main_menus
      -#   =link_to trainings_path,class:"otherspage_main_menus_trainings","data-turbolinks": false do
      -#     .otherspage_main_menus_trainings_details
      -#       %h1.menus_title
      -#         Trainings
      -#   .otherspage_main_menus_friends
      -#     .otherspage_main_menus_friends_details
      -#       %h1.menus_title
      -#         Friends
      -#   .otherspage_main_menus_messages
      -#     .otherspage_main_menus_messages_details
      -#       %h1.menus_title
      -#         Messages